body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  font-size: 14px;
  background-color: var(--p2);
  overflow: none;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
span,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
